.client {
  background-color: #f5f6f8;
}

.swiper {
  width: 100%;
  padding-top: 4rem;
  margin-top: 2rem;
}

.swiper-slide {
  max-width: 400px;
}

.client__card {
  padding: 2rem;
  padding-top: 0;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
}

.client__card img {
  max-width: 80px;
  margin: auto;
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333333;
}

.client__card p {
  color: #767268;
}

.client__ratings {
  margin-block: 1rem;
  color: goldenrod;
}


/* ---------- Media Query ------------  */

@media (width > 768px) {

}