@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #5484dd;
  --primary-color-dark: #112b5a;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f5f6f8;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
}

.section__description {
  margin-top: 1rem;
  max-width: 600px;
  color: #767268;
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #112b5a;
  outline: none;
  border: none;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #1e3a6d;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  max-width: 100px;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #f5f6f8;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
}