.offer__header {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.offer__header a {
  color: #5484dd;
  transition: 0.3s;
}

.offer__header a:hover {
  color: #112b5a;
}

.offer__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.offer__card {
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.offer__card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.offer__card img {
  margin-bottom: 1rem;
  border-radius: 2px;
}

.offer__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: #333333;
}

.offer__card p {
  margin-bottom: 1rem;
  color: #767268;
}

.offer__card > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer__card span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #5484dd;
}

/* --------- Media Query ------------  */
@media (width > 576px) {
  .offer__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (width > 768px) {
  .offer__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
